[Unit]
Description=Run Deterministic entity sync every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=entity-sync.service

[Install]
WantedBy=timers.target
